[Desktop Entry]
Name=Mathematica
Comment=Mathematica mathematics application
Exec=/mathematica9/Executables/Mathematica -desktop
Icon=leafpad
Terminal=false
Type=Application
Categories=Education;Mathematics;
