[Unit]
Description=Assembly Pipeline Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /opt/pipeline/bin/pipeFull.py

[Install]
WantedBy=multi-user.target